body {
	font-family:"Georgia", serif;
	background-color:#fff;
}
header{
	background-image: url(images/Messinalogo.png);
	background-position: 320px;
	background-repeat:no-repeat;
	position:relative;
	margin-right:auto;
	height:130px;
	width:300px;
}
.hidden{
	position:fixed;
	top:-999px;
}
nav {
	border:1px solid #000;
	border-width:1px 0;
}
nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}
nav ul li{
	display:inline;
}
nav ul li a{
	display:inline-block;
	padding:10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#a6a6a6;
}
nav ul li a:hover{
	display:inline-block;
	padding:10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#000;
}
.contain{
	width:940px;
	margin:auto;
}
#content{
	width:700px;
	margin:50px 18px;
}
h1{
}
h2{}
#content p{
}
p{}
.class-columnspan{
	/* CSS3 */
column-count: 2; 

/* Safari and Chrome */
-webkit-column-count: 2;
-moz-column-count: 2; 

/* Internet Explorer */
-ms-column-count: 2; 
/* Opera */
-o-column-count: 2; 

column-gap:57px;
-moz-column-gap:57px; /* Firefox */
-webkit-column-gap:57px; /* Safari and Chrome */

font:Georgia, Serif;
vertical-align:text-top;
}
.class-columnspan p{
	column-span: all; /* CSS3 */
	-webkit-column-span: all; /* Safari and Chrome */
	-moz-column-span: all; /* Firefox */
	-ms-column-span: all; /* Internet Explorer */
	-o-column-span: all; /* Opera */
}
#sidebar{
	width:224px;
	font-family:"Georgia", serif;
	float:right;
	margin:0px 0px;
}
#sidebar ul a{
	display:block;
	text-decoration:none;
	color:#000;
	margin:10px 10px;
	text-indent: 10px
}
#sidebar ul{
	list-style-type:none;
	padding:0px;
	float:left;
}
#sidebar ul li{}
#sidebar ul li a:link{}
#sidebar ul li a:visited{}
#sidebar ul li a:hover{
	color:#a6a6a6;
}
#sidebar ul li a:active{}

#sidebar li.selected a{
	text-indent: 10px
}
.selected{
	background-image: url(images/selectedarrow.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
#sidebar p.menu{
	background-image: url(images/sidebar.png);
	height:25px;
	width:224px;
	margin-top:40px;
	margin-left:20px;
}
footer{
	background-image: url(images/footerbg.png);
	height:262px;
}
footer ul{
	list-style-type:none;
}
footer ul li{
	display:inline;
}
footer ul li a{
	font-family:"Georgia", serif;
	text-decoration:none;
	color:#000;
	padding:5px;
}
footer ul li a:hover{
	color:#a6a6a6;
}
footer a {
	display:block;
}
footer ul#id-socialmenu li a{
	color:#000;
	text-indent: 5px;
}
footer ul#id-socialmenu li a:hover {
	color:#a6a6a6;
	background-image: url(images/selectedarrow.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
footer ul#id-philosophymenu li a{
	color:#000;
	text-indent: 5px;
}
footer ul#id-philosophymenu li a:hover {
	color:#a6a6a6;
	background-image: url(images/selectedarrow.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
footer ul#id-contactmenu li a{
	color:#000;
	text-indent: 5px;
}
footer ul#id-contactmenu li a:hover {
	color:#a6a6a6;
	background-image: url(images/selectedarrow.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
footer a img{
	float:right;
}
ul#id-socialmenu{
	float:left;
	padding:20px 52px;
	margin-left:-45px;
}
ul#id-philosophymenu{
	float:left;
	padding:20px 52px;
}
ul#id-contactmenu{
	float:left;
	padding:20px 52px;
}

a.hidden{
	text-indent: -9999px
}
a.class-footer{
	opacity:.5;
	text-indent: -9999px;
}


