body {
	font-family:"Georgia", serif;
	background-color:#fff;
	margin:0;
	padding:0;
	font-size:16px;
}
#quickview-Big-Sir{
	
}
.quickview-box{
	display:block;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	height:420px;
	width:418px;
	border:1px solid rgb(158,158,158);
	padding:20px;
	margin:10px 10px;
	position:relative;
	-moz-box-shadow: 0px 0px 9px #000000;
	-webkit-box-shadow: 0px 0px 9px #000000;
	box-shadow: 0px 0px 9px #000000;
	color:rgb(119,93,93);
}
.quickview-image{
	height:204px;
	width:420px;
}
#quickview-Big-Sir h3{
	font-weight: normal;
}
#quickview-Big-Sir p{
	font-size:87.5%;
}
#quickview-Big-Sir ul{
	margin:0;
	padding:0 0 0px 0;
	font-size:87.5%;
}
#quickview-Big-Sir ul li{
	list-style-type: none;
	display:block;
}
#cost{
	position:absolute;
	margin:0 320px;
	text-transform: uppercase;
}
#add-button{
	position:absolute;
	height:28px;
	width:122px;
	border:2px solid rgb(211,211,211);
	margin:30px 280px;
	line-height: 30px;
	text-transform: uppercase;
	text-align:center;
	font-size:87.5%;
	color:rgb(155,137,139);
}

