body {
	font-family:"Georgia", serif;
	background-color:#fff;
	margin:0;
	padding:0;
	font-size:16px;
}
#quickview-box{
	display:block;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	height:420px;
	width:418px;
	border:1px solid rgb(158,158,158);
	padding:0px;
	margin:30px;
	position:relative;
	-moz-box-shadow: 0px 0px 9px #000000;
	-webkit-box-shadow: 0px 0px 9px #000000;
	box-shadow: 0px 0px 9px #000000;
	color:rgb(119,93,93);
	background-color: #FFF;
	padding:20px;
	position:absolute;
}
#quickview-box:after {
   content:"";
   position: absolute;
   right:97%;
   top: 90px;
   width: 100;
   height: 100;
   margin-left:10px;
   background-color: #FFF;
   transform:rotate(135deg);
   -ms-transform:rotate(135deg);
   -webkit-transform:rotate(135deg);
   -moz-box-shadow: 3px 3px 4px 0px rgb(158,158,158);
   -webkit-box-shadow: 3px 3px 4px 0px rgb(158,158,158);
   box-shadow: 3px 3px 4px 0px rgb(158,158,158);
   border:0px solid rgb(158,158,158);
   border-top: 13px solid transparent;
   border-right: 26px solid #FFF;
   border-bottom: 13px solid transparent;
} 
/*.arrow {
   width: 100px;
   height: 100px;
   position: relative;
   overflow: hidden;
   box-shadow: 0 16px 10px -17px rgba(0,0,0,0.5);
}
.arrow:before {
   content: "";
   position: absolute;
   width: 50px;
   height: 50px;
   background: #fff;
   border-bottom: 1px solid rgb(158,158,158);
   border-right: 1px solid rgb(158,158,158);
   transform:rotate(135deg);
   -ms-transform:rotate(135deg);
   top: 75px;
   left: 25px;
   -moz-box-shadow: 0px 0px 9px #000000;
   -webkit-box-shadow: 0px 0px 9px #000000;
   box-shadow: 0px 0px 9px #000000;
}*/
/*.arrow{
	width:0px; 
	height:0px; 
	border-bottom:16px solid transparent; 
	border-top:16px solid transparent; 
	border-right:19px solid #fff; 
	position:absolute;
	padding:0;
	margin-left:-39px;
}*/
/*.arrow{
	height:20px;
	width:20px;
	background: #fff;
	-moz-box-shadow: 3px 3px 4px 0px rgb(158,158,158);
	-webkit-box-shadow: 3px 3px 4px 0px rgb(158,158,158);
	box-shadow: 3px 3px 4px 0px rgb(158,158,158);
	position:absolute;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	border-bottom: 1px solid rgb(158,158,158);
	border-right: 1px solid rgb(158,158,158);
	margin-left:-11px;
	margin-top:-120px;
	z-index:3;
}
*/
/*.arrow:after{
	height:20px;
	width:20px;
	position:absolute;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg); 
	margin-left:20px;
	margin-top:200px;
	z-index:0;
}*/
.quickview-image{
	height:204px;
	width:420px;
	padding:0;
	margin:0;
}
#quickview-box h3{
	font-weight: normal;
	padding:0;
	margin:10px 0;
}
#quickview-box p{
	font-size:100%;
	padding:0;
}
#quickview-box ul{
	margin:0;
	padding:0;
	font-size:100%;
}
#quickview-box ul li{
	list-style-type: none;
	display:block;
}
#cost{
	position:absolute;
	margin:12px 315px;
	text-transform: uppercase;
	font-size: 120%;
	padding:0;
}
#add-button{
	position:absolute;
	height:28px;
	width:120px;
	border:2px solid rgb(211,211,211);
	margin:42px 280px;
	line-height: 30px;
	text-transform: uppercase;
	text-align:center;
	font-size:100%;
	color:rgb(155,137,139);
	display:block;
	text-decoration: none;
}
